@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hsl: 36deg 75% 87%;
  --foreground-hsl: 0deg 0% 0%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply bg-background text-foreground overflow-x-hidden;
}

@layer utilities {
  .animate-01 {
    @apply inline-block overflow-hidden;

    & > * {
      @apply inline-block translate-y-full will-change-transform;
    }
  }
}

.loader {
  width: 48px;
  height: 78px;
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}
